@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sofadi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter",sans-serif ;
}

.img {
    height: 500px;
    width: 450px;
    border-radius: 16px;
}